.rating-number {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-family: $Overpass;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: $Medium-Grey;
        cursor: pointer;
    }
}
.gray-color {
    background-color: $Dark-Blue;
}

.orange-color {
    background-color: $Orange;
}

.rating-input {
    display: none;
}