.rating-number {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $Medium-Grey;
    &:hover {
        background-color: $Medium-Grey;
        cursor: pointer;
        color: $White
    }
}
.gray-color {
    background-color: $Dark-Blue;
}

.orange-color {
    background-color: $Orange;
    color: $White;
    &:hover {background-color: $Orange;}
}

.rating-input {
    display: none;
}